:root {
    --header-color: #4E5150;
    --label-color: #4F4F4F;
    --border-color: #828282;
    --orange-color: #F2994A;
}

* {
    box-sizing: border-box;
}

body {
    color: #333333;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

#container {
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 1fr auto 1fr;
}

main {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    gap: 100px;
}

.heading {
    width: 100%;
    font-size: 36px;
    color: var(--header-color);
    margin-left: 50px;
    align-self: center;
}

/* Style for checkout information and shipping address*/
.checkout {
    grid-column: 1 /span 7;
    min-width: 350px;
}


.contact-heading, .shipping-heading {
    font-size: 18px;
    margin-bottom: 15px;
}

.checkout label {
    font-size: 12px;
    color: var(--label-color);
    margin-bottom: 7px;
}

.checkout .input {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    height: 56px;
    margin-top: 7px;
    margin-bottom: 20px;
}

.checkout .input .material-icons {
    margin-right: 18px;
    margin-left: 14px;
    color: var(--border-color);
}

.checkout input {
    border: none;
    color: var(--border-color);
    font-size: 16px;
    outline: none;
    width: 100%;
}

[placeholder]{
    text-overflow:ellipsis;
}

.countryAndPostal {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.country {
    flex: 1;
}

.postal {
    flex: 1;
    min-width: 0;   /*Note: Need this, otherwise postal will be much larger than country when narrow*/
}

.checkout select {
    border: none;
    width: 80%;
    color: var(--border-color);
    font-size: 16px;
    outline: none;
}

.checkout select::selection {
    color:red
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    color: #333333;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.saveinfo {
    display: flex;
    gap: 5px;
    align-items: center;
}

.saveinfo > input {
    display: inline-block;
    width: fit-content;
    height: 21px;
    width: 21px;
}

.saveinfo > span {
    font-size: 12px;
    color: var(--label-color);
}

.checkout button {
    border: none;
    color: white;
    background-color: var(--orange-color);
    width: 166px;
    height: 54px;
    border-radius: 12px;
    margin: 23px 0px;

    position: absolute;
    right: 0;
}

form {
    position: relative;
}

/* Style for products*/
.products {
    grid-column: 8 / span 5;
    background-color: #F2F2F2;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    min-width: 300px;
}

.product-item {
    display: flex;
    padding: 50px 30px 0px 30px;
    align-items: center;
    gap: 20px;
    width: 100%;
} 

.product-item img {
    flex: 1;
    min-width: 0;
    border-radius: 12px;
}

.product-item .product-info {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.final-price {
    color: var(--orange-color);
    margin-right: 10px;
}

.orig-price {
    font-size: 12px;
    text-decoration: line-through;
}

.product-count {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 52px;
    border-radius: 12px;
    margin-top: 50px;
    padding: 0px 15px;

    border: 1px solid var(--border-color);
    width: fit-content;
}

.product-count .material-icons {
    background: #E0E0E0;
    border-radius: 4px;
    color: var(--border-color);
    cursor: pointer;
    user-select: none;
} 

.product-count .count {
    width: 20px;
}

.product-count .material-icons .disabled-icons {
    cursor: not-allowed;
}

.costs {
    width: 100%;
    padding: 14px 30px;
}

.costs .shipping-cost, .costs .total-cost {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #BDBDBD;

    padding: 15px 0px;
}

.costs .name {
    font-size: 18px;
}

.costs .cost {
    font-size: 14px;
}

/* style for footer */
footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #BDBDBD;
    align-self: flex-end;
    justify-self: center;
}

footer .created-by {
    margin: 0 auto;
    width: fit-content;
}

footer .author {
    font-weight: bold;
    color: #BDBDBD;
}

@media screen and (max-width:425px) {
    main {
        display: flex;
        flex-direction: column-reverse;
    }

    footer {
        margin-top: 54px;
    }
} 
/*
NOTES:
1. Sometimes in a flex container, you want left and right item take half space each. For example like `.product-item img` and `.product-item .product-info`. But it won't work, then try set the bigger one `min-width: 0;`
*/